@(title: String)(content: Html)

<!DOCTYPE html>

<html>
<head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/quiz.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script src="@routes.Assets.at("javascripts/hello.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/quiz.js")"></script>
</head>
    <body>
        @content
        <div id="wrapper">
            <div id="#questionOne" class="question inFocus">
                1
                <button class="next">Next </button>
            </div>
            <div id="#questionTwo" class="question isNext">
                2
                <button class="prev">Prev </button>
                <button class="next">Next </button>
            </div>
            <div id="#questionThree" class="question">
                3
                <button class="prev">Prev </button>
                <button class="next">Next </button>
            </div>
            <div id="#questionFour" class="question">
                4
                <button class="prev">Prev </button>
                <button class="next">Next </button>
            </div>
            <div id="#questionFive" class="question">
                5
                <button class="prev">Prev </button>
                <button class="next">Next </button>
            </div>
            <div id="#questionSix" class="question">
                6
                <button class="prev">Prev </button>
                <button class="next">Next </button>
            </div>
            <div id="#questionSeven" class="question">
                7
                <button class="prev">Prev </button>
                <button class="next">Next </button>
            </div>
            <div id="#questionEight" class="question">
                8
                <button class="prev">Prev </button>
                <button class="next">Next </button>
            </div>
            <div id="#questionNine" class="question">
                9
                <button class="prev">Prev </button>
                <button class="next">Next </button>
            </div>
            <div id="#questionTen" class="question">
                10
                <button class="prev">Prev </button>
            </div>
        </div>

        <button>Submit</button>
    </body>
</html>