<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div id="#questionOne" class="question inFocus">
    <button id="next">Next</button>
</div>
<div id="#questionTwo" class="question">

</div>
<div id="#questionThree" class="question">

</div>
<div id="#questionFour" class="question">

</div>
<div id="#questionFive" class="question">

</div>
<div id="#questionSix" class="question">

</div>
<div id="#questionSeven" class="question">

</div>
<div id="#questionEight" class="question">

</div>
<div id="#questionNine" class="question">

</div>
<div id="#questionTen" class="question">

</div>
<button></button>
</body>
</html>